<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= event.user.name %>
    </div>
    <div class="message-date">
      <%= event.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-date">
      <%= event.event_day %>
    </div>
    <div class="message-content">
      <%= event.content %>
    </div>
  </div>
</div>
