<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      全学年共通
    </div>
  </div>
</div>

<div class="events">
  <div class="event">
    <div class="upper-event">
      <div class="event-user">
        担任：○○
      </div>
      <div class="event-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-event">
      <div class="event-content">
        5月20日は運動会です。
      </div>
    </div>
  </div>

  <div class="event">
    <div class="upper-event">
      <div class="event-user">
        担任：○○
      </div>
      <div class="event-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-event">
      <div class="event-content">
        6月中に教材費の振込をお願いします。
      </div>
    </div>
  </div>
</div>


<div class="form">
  <div class="form-input">
    <input class="form-event" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>