<header class="p-3 bg-dark text-white">
    <div class="container">
    <h1 class="app_title">
    <%= link_to "すくーる大作戦", root_path, class: "app-title"%>
    </h1>
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
 
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">学校HP</a></li>
          <li><a href="#" class="nav-link px-2 text-white">お知らせ</a></li>
          <li><a href="#" class="nav-link px-2 text-white">PTA活動</a></li>
          <li><a href="#" class="nav-link px-2 text-white">習いごと情報</a></li>
          <li><a href="#" class="nav-link px-2 text-white">SOS</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          
          <%= link_to current_user.name, edit_user_path(current_user), class: "btn btn-outline-light me-2", tag: "button", type: "button" %>
        </div>
      </div>
    </div>
</header>

<div class='wrapper'>
  <div class='side-bar'>
    <%= render "events/side_bar" %>
  </div>
</div>